[submodule "vendor/webgpu"]
	path = vendor/webgpu
	url = https://github.com/linuxing3/webgpu
[submodule "vendor/glfw3webgpu"]
	path = vendor/glfw3webgpu
	url = https://github.com/linuxing3/glfw3webgpu
